---
const { title, description, icon } = Astro.props
---

<div class="flex items-start gap-2 sm:gap-4">
  <div class="mt-1 h-6 w-6 shrink-0 text-amber-800 opacity-50">
    {
      icon === 'lines' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M17 6.1H3" />
          <path d="M21 12.1H3" />
          <path d="M15.1 18H3" />
        </svg>
      )
    }
    {
      icon === 'ruler' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M21.3 15.3a2.4 2.4 0 0 1 0 3.4l-2.6 2.6a2.4 2.4 0 0 1-3.4 0L2.7 8.7a2.41 2.41 0 0 1 0-3.4l2.6-2.6a2.41 2.41 0 0 1 3.4 0Z" />
          <path d="m14.5 12.5 2-2" />
          <path d="m11.5 9.5 2-2" />
          <path d="m8.5 6.5 2-2" />
          <path d="m17.5 15.5 2-2" />
        </svg>
      )
    }
    {
      icon === 'caps' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m3 15 4-8 4 8" />
          <path d="M4 13h6" />
          <path d="M15 11h4.5a2 2 0 0 1 0 4H15V7h4a2 2 0 0 1 0 4" />
        </svg>
      )
    }
    {
      icon === 'cursor' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M17 22h-1a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4h1" />
          <path d="M7 22h1a4 4 0 0 0 4-4v-1" />
          <path d="M7 2h1a4 4 0 0 1 4 4v1" />
        </svg>
      )
    }
    {
      icon === 'shout' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M8.8 20v-4.1l1.9.2a2.3 2.3 0 0 0 2.164-2.1V8.3A5.37 5.37 0 0 0 2 8.25c0 2.8.656 3.054 1 4.55a5.77 5.77 0 0 1 .029 2.758L2 20" />
          <path d="M19.8 17.8a7.5 7.5 0 0 0 .003-10.603" />
          <path d="M17 15a3.5 3.5 0 0 0-.025-4.975" />
        </svg>
      )
    }
    {
      icon === 'wrap' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" x2="21" y1="6" y2="6" />
          <path d="M3 12h15a3 3 0 1 1 0 6h-4" />
          <polyline points="16 16 14 18 16 20" />
          <line x1="3" x2="10" y1="18" y2="18" />
        </svg>
      )
    }
    {
      icon === 'info' && (
        <svg
          class="size-full"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="M12 16v-4" />
          <path d="M12 8h.01" />
        </svg>
      )
    }
    {
      icon === 'exclamation' && (
        <svg viewBox="0 0 64 512" fill="currentColor" class="size-full">
          <path d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V320c0 17.7 14.3 32 32 32s32-14.3 32-32V64zM32 480a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" />
        </svg>
      )
    }
    {
      icon === 'magnify' && (
        <svg
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      )
    }
  </div>
  <div>
    <h3 class="text-balance font-semibold">
      {title}
    </h3>
    <div class="mt-2 text-amber-800">
      {description || <slot />}
    </div>
  </div>
</div>
